.App {
  text-align: center;
}

.container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10em;
  align-items: baseline;
}
.cart{
  border: 5px solid black;
  position: fixed;
  right: 1em;
  width: 20em;
  height: 2em;
  font-size: 2em;
  top: 1em;
}
.cart-items{
  margin: 0 1em 0 1em;
}
.cart-total{
  margin: 0 1em 0 1em;
}
.card{
  
  margin-top: 10em;
  border: 5px solid black;
  margin: 2em;
  width: 15%;

}
#item-amount{
  width: 80%;
}
.item-description{
  border:2px solid black
}
img{
  object-fit: contain;
  width: 100%;
}
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: 10em;
  justify-content: end;
  background-color: rgb(77, 30, 121);
  
}
ul > a{
  color: white;
  font-size: 5vh;
  list-style: none;
}
ul > a:hover{
  text-shadow: 2px 2px 2px yellow, 0 0 10px rgb(255, 69, 199);
}
.checkout-btn{
  height: 3em;
  width: 8em;
  font-size: large;
}
.home-container{
  margin-top: 10em;
}
#store-img{
  width: 50%;
}